#popularProducts {
    background: #ededed;

    h1 {
        margin-bottom: 3.5rem;
    }

    .product-grid-popular {
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
        grid-template-rows: 1fr;
    
        .product-image-container-popular {
            /*background-repeat: no-repeat;
            background-size: contain;*/
            transition: 0.5s;
            overflow: hidden;
            width: fit-content;
            max-width: 232px;
    
            &:hover {
                opacity: 0.8;
                box-shadow: -2px 2px 11px #696969;
            }
        }
    }
}
